name: Deploy React App to S3

on:
  push:
    branches:
      - main

env:
  BUCKET_NAME: ${{ secrets.AWS_S3_BUCKET }} # Use a secret for the bucket name
  AWS_REGION: ${{ vars.AWS_REGION }} # Replace with your region.  Consider making this a secret if it's not fixed.

permissions:
  id-token: write
  contents: read

jobs:
  build-and-deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up Node.js
        uses: actions/setup-node@v2
        with:
          node-version: '18.8'

      - name: Clean npm cache
        run: npm cache clean --force

      - name: Remove node_modules and package-lock.json
        run: |
          rm -rf node_modules
          rm -f package-lock.json

      - name: Install Dependencies
        run: |
          npm install --legacy-peer-deps
          npm install ajv@latest 
          npm install ajv-keywords@latest 
          npm ci

      - name: Build Project
        run: npm run build
        if: success()

      - name: Configure AWS Credentials
        uses: aws-actions/configure-aws-credentials@v2
        with:
          role-to-assume: ${{ secrets.AWS_ROLE_TO_ASSUME }} # Use a secret for the role ARN
          role-session-name: deploy-react-app
          aws-region: ${{ env.AWS_REGION }}

      - name: Deploy to S3
        uses: jakejarvis/s3-sync-action@v0.5.1
        with:
          args: --delete
        env:
          AWS_S3_BUCKET: ${{ secrets.AWS_S3_BUCKET }}
          AWS_REGION: ${{ vars.AWS_REGION }}
          SOURCE_DIR: 'build'
          

      - name: Verify Deployment (Optional)
        run: aws s3 ls s3://${{ env.BUCKET_NAME }}/
        if: success()

      - name: Display Website URL
        run: echo "Your website is hosted at http://${{ env.BUCKET_NAME }}.s3-website-${{ env.AWS_REGION }}.amazonaws.com"
